<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section >

		<h1>this is new about section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Aliquam consectetur exercitationem temporibus qui omnis cumque
			voluptatem explicabo sint illum fugit atque porro assumenda ratione
			ipsa alias minima quas corrupti placeat voluptate possimus itaque
			odit neque saepe non vero nihil ab voluptatum eum beatae ex optio
			perspiciatis quod animi sequi maiores!</p>

	</section>

</body>
</html>