<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Conditional Statement in Thymeleaf</title>
</head>
<body>
	<h1>Conditional Statement in Thymeleaf</h1>

	<h1>
		User is <span th:style="${isActive} ? 'color:green' : 'color:red' "
			th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE' "></span>
	</h1>
	
	
	<div>
	
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:Unless="${gender}=='M'">Female</h1>
	
	</div>
	
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">List Contain Zero Element</h1>
	<h2 th:case="'1'" >List Contain one Element</h2>
	<h1 th:case="*">List Contain more then one Element</h1>
	</div>
	
	
</body>
</html>