<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footer Template</title>
</head>
<body>

	<footer id="fragmentTag" th:fragment="footer1(title, subtitle)">

		<div class="container">

			<h1 th:text="${title}"></h1>

			<h2 th:text="${subtitle}"></h2>

			<h1>About my code</h1>

			<h2>Provide Good content</h2>

			<p>Spring Boot Tutorial provides basic and advanced concepts of
				Spring Framework. Our Spring Boot Tutorial is designed for beginners
				and professionals both.</p>
		</div>

	</footer>

</body>
</html>