<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Services Page</title>
</head>
<body>
	<h1>These are the services provided by me</h1>
	<!-- Going to bring footer here -->
	<!-- <footer id="hostTag" th:replace="footer::footer1"> -->
	<!-- <footer id="hostTag" th:insert="footer::footer1"> -->
	<!-- <footer id="hostTag" th:include="footer::footer1"> -->
	
	<footer id="hostTag" th:replace="footer::footer1(${title},${subtitle})">
	
	
	</footer>
</body>
</html>